In [ ]:
# term : dab july 2025
# name : sidali benabdi
# week 1 assignment : python basics

In [5]:
# task 1 : Variable declaration and data types
first_name = "sidali"
last_name = "benabdi" 
age = 29
height = 68.11
is_married = False
print(first_name , type(first_name))
print(age , type(age))
print(height , type(age)) # in inches

sidali <class 'str'>
29 <class 'int'>
68.11 <class 'int'>

In [10]:
# task 2 : string manipulation
full_name = first_name + " " + last_name  # concatenation
print(full_name)
print(full_name.upper()) # convert to uppercase
print((first_name[0])+(last_name[0])) # slicing can be used as a def function to extract intials

sidali benabdi
SIDALI BENABDI
sb

In [17]:
# taske 3 : basic operations

a = 7
b = 5

#operations sepreated into different line for readability , print(" ") used for spacing of paragraphs

#arithmetic operations
print("arithmetic operations : ")

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(" ")

#comparison operations , results are in bool and can also be used in if\else statements
print("comparison operation : ")

print(a>b) # biggerthan
print(a<b) # smaller thnan
print(a==b) # excatlty equal to
print(a!=b) # different than
print(a>=b) # bigger or equal to
print(a<=b) # smaller or equal to 
print(" ")

#logical operations , are a combination of comparison operations
print("logical operations : ")

print(a>6 and b<=5) # both conditions have to be met in order for the value to come back as true
print(a<=5 or b==5) # just one of the conditions have to be met for the value to come back as true
print( not a==7) # the not operation act as a condition opposite for example in a if/else statement , 
#if the condition is NOT met than do the following, the difference between that and true/false case is that 
#the later has only 2 possible outcomnes , 
#the not operation is used for in a case where  a specific condition is NOT met

print(" ")

arithmetic operations :
12
2
35
1.4
2
16807

comparison operation :
True
False
False
True
True
False

logical operations :
True
True
False

In [30]:
#task 4 : data collections

data_list = [ "ali" , 29 , True ] #list [ name , age , is_enrolled]
data_dict = { "occupation":"student" , "program_duration": "4"} #dictionary {occupation , program lenght in months}
data_tuple = ( "upright" , "online" , "data_analitycs_bootcamp" , "enrolled") 
#tuple (service priver , program type , program subject , status)

print(data_list[0]) # access name from data list
print(data_list[1]) # acces age from data list
print(" ")
data_list[0] = "sidali" # change name in data list
print (data_list[0]) #print name from data list for confimation of change
print(" ")

print(data_dict["occupation"]) #access ocupation from data dictionary
data_dict["occupation"] = "data_scientist" # change ocupation in data_ditionary
print(data_dict["occupation"]) # print new ocupation for confirmation of change
print(" ")

print(data_tuple[0]) # access service provider from data  tuple , tupleobjects can not be changed

ali
29

sidali

student
data_scientist

upright

In [42]:
#task 5 : expression combination
# we are going to be using different variables and operations from the past tasks 
# in order to come up with a meagninfull expression 

expression_1 = full_name.upper() + " " + "is" + " " + data_tuple[3] + " " + "in" + " " + "the" + " " + data_tuple[2] + " " + "provided_by" + " " + data_tuple[0] + ",_he_is_gratefull_for_his_instructors"
expression_2 = "this_is_some_simple_math_operations,_he_ran_out_ideas_trying_to_integrate_them_into_this_task"
expression_3 = a + b 
expression_4 = (len(expression_1) + len(expression_2)) # number of items wriiten so far in this task , 
# only includes first 2 expression because expression_3 is an int and can not be counted

print (expression_1)
print(" ")
print (expression_2)
print(" ")
print(expression_3)
print(" ")
print("thank_you_for_taking_the_time_to_read_all_of_this")

SIDALI BENABDI is enrolled in the data_analitycs_bootcamp provided_by upright,_he_is_gratefull_for_his_instructors

this_is_some_simple_math_operations,_he_ran_out_ideas_trying_to_integrate_them_into_this_task

12

thank_you_for_taking_the_time_to_read_all_of_this